<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosAccountEndpoint" value="https://<your-account>.documents.azure.com:443/" />
    <add key="CosmosDatabase" value="MultiAgentBanking" />
    <add key="CosmosContainer" value="customers" />
    <add key="CosmosItemId" value="CUST001" />
    <add key="CosmosPartitionKeyValue" value="CUST001" />
    <add key="CosmosTenantId" value="" />
    <add key="CosmosManagedIdentityClientId" value="" />
  </appSettings>
</configuration>
